@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Create Purchase Order";
    Item item = (Item)ViewData["item"];
    List<Supplier> suppliers = (List<Supplier>)ViewData["suppliers"];
    int purchasedBy = (int)ViewData["PurchasedBy"];
    //int poId = (int)ViewData["poId"];
    //String poNo = (String) ViewData["poNo"];
    //DateTime createdOn = (DateTime)ViewData["createdOn"];
    //PurchaseOrderStatus.POStatus status = (PurchaseOrderStatus.POStatus) ViewData["status"];
    //var Model = (PurchaseOrder) ViewData["receivedPO"];

    string username = (string)Context.Session.GetString("User");
    int DeptId = (int)Context.Session.GetInt32("DeptId");
    string UserRole = (string)Context.Session.GetString("UserRole");
}

@if (UserRole == "store_clerk")
{
    <form method="post" asp-action="POCreateLow">
        <div class="container-fluid site-width">
            <div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="card border-0">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">@ViewData["Title"]<span class="inv-no"></span></h4>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>Expected Date:</b> <input type="date" name="expectedDate" id="expectedDate" min="" onclick="GetMinDate()" required /><br>
                                                <b>Supplier Name:</b>
                                                <select name="supplierId" required>
                                                    <option></option>
                                                    @foreach (Supplier s in suppliers)
                                                    {
                                                        <option value="@s.SupplierID">@s.SupplierName</option>
                                                    }
                                                </select> <br>
                                                <input type="hidden" value="@purchasedBy" name="id" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*table content*@
                    <div class="col-12 col-md-12">
                        <div class="card border-0">
                            <div class="card-body table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td><b>Item Code</b></td>
                                            <td><b>Description</b></td>
                                            <td class="text-right"><b>UOM</b></td>
                                            <td class="text-right"><b>Reorder Qty</b></td>
                                            <td class="text-right"><b>Ordered Qty</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-right">@item.ItemID <input type="hidden" name="itemID" value="@item.ItemID"></td>
                                            <td class="text-right">@item.ItemName</td>
                                            <td class="text-right">@item.UOM</td>
                                            <td class="text-right">@item.ReStockQty</td>
                                            <td class="text-right"><input type="number" id="orderQty" name="orderQty" min="1" max="@item.ReStockQty" value="@item.ReStockQty" required /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right p-5">
                                <button type="button" onclick="window.history.back()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <input type="hidden" id="edit-date">
                                <button type="submit" id="confirmBtn" class="btn btn-success add-todo">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

}
    <script>
        //get todaydate and set min value for expecteddate
        function GetMinDate() {
            var date = new Date();
            var dd = ("0" + date.getDate()).slice(-2);
            var MM = ("0" + (date.getMonth() + 1)).slice(-2);
            var yyyy = date.getFullYear();
            var currentDate = yyyy + "-" + MM + "-" + dd;
            var currentDate = yyyy + "-" + MM + "-" + dd;
            document.getElementById("expectedDate").setAttribute("min", currentDate);
        };
    </script>

