@{
    ViewData["Title"] = "Create Bulk Purchase Order";
    List<Item> poitems = (List<Item>)ViewData["poitems"];
}

<form>
    <div class="container-fluid site-width">
        <div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card border-0">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">@ViewData["Title"]<span class="inv-no"></span></h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Expected Date:</b> <input type="date" name="expectedDate" /><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @*table content*@
                <div class="col-12 col-md-12">
                    <div class="card border-0">
                        <div class="card-body table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td><b>Item Code</b></td>
                                        <td><b>Description</b></td>
                                        <td class="text-right"><b>UOM</b></td>
                                        <td class="text-right"><b>Reorder Qty</b></td>
                                        <td class="text-right"><b>Ordered Qty</b></td>
                                        <td class="text-right"><b>Supplier</b></td>
                                        <td class="text-right"><b>Price</b></td>
                                        <td class="text-right"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in poitems)
                                    {
                                    <tr>
                                        <td class="text-right">@item.ItemCode</td>
                                        <td class="text-right">@item.ItemName</td>
                                        <td class="text-right">@item.UOM</td>
                                        <td class="text-right">@item.ReStockQty</td>
                                        <td class="text-right"><input type="number" value="@item.ReStockQty" min="0" max="@item.ReStockQty" /></td>
                                        <td class="text-right">
                                            <select id="supplier">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td class="text-right"></td>
                                        <td class="text-right">
                                            <a href="#"><i class="icon-plus icons"></i></a>
                                            <a href="#"><i class="icon-minus icons"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right p-5">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <input type="hidden" id="edit-date">
                            <button type="submit" class="btn btn-success add-todo">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function getSupplier(itemID) {
        $("#supplier").on("change", function () {
            var sId = $(this).val();
            $("#supplier").empty();
            $("#supplier").append("<option value=''>Select SubCategory</option>");
            $.ajax({
                method: "GET",
                url: "https://localhost:44312/ItemPrice/getItem/" + itemID,

            })
                .done(function (msg) {
                    console.log(msg);
                    

                });
        });
    }

</script>

<script>
    $(function () {
        $("#supplier").on("change", function () {
            var categoryId = $(this).val();
            $("#SubCategoryId").empty();
            $("#SubCategoryId").append("<option value=''>Select SubCategory</option>");
            $.getJSON(`?handler=SubCategories&categoryId=${categoryId}`, (data) => {
                $.each(data, function (i, item) {
                    $("#SubCategoryId").append(`<option value="${item.subCategoryId}">${item.subCategoryName}</option>`);
                });
            });
        });
    });
</script>
}