@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Receive Purchase Order";
    var purchase = (PurchaseOrder)ViewData["purchase"];
    var orderItems = (List<PurchaseOrderItems>)ViewData["orderItems"];

    string username = (string)Context.Session.GetString("User");
    int DeptId = (int)Context.Session.GetInt32("DeptId");
    string UserRole = (string)Context.Session.GetString("UserRole");
}
@if (UserRole == "store_clerk")
{
    <form method="post">
        <div class="container-fluid site-width">
            <div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="card border-0">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title">@ViewData["Title"]<span class="inv-no"></span></h4>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b>PO No:</b> @purchase.PONo<br>
                                                <b>Expected Date:</b> @purchase.ExpectedDate<br>
                                                <b>Supplier ID:</b> @purchase.SupplierID<br>
                                                <b>Supplier Name: </b>@purchase.Supplier.SupplierName<br><br>
                                                <input type="hidden" value="@purchase.POID" name="poid" />

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*table content*@
                    <div class="col-12 col-md-12">
                        <div class="card border-0">
                            <div class="card-body table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td><b>Item Code</b></td>
                                            <td><b>Description</b></td>
                                            <td class="text-right"><b>UOM</b></td>
                                            <td class="text-right"><b>Ordered Qty</b></td>
                                            <td class="text-right"><b>Received Qty</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (PurchaseOrderItems item in orderItems)
                                        {
                                            <tr>
                                                <td class="text-right">@item.Item.ItemCode</td>
                                                <td class="text-right">@item.Item.ItemName</td>
                                                <td class="text-right">@item.Item.UOM</td>
                                                <td class="text-right">@item.OrderQty</td>
                                                <td class="text-right"><input type="number" value="@item.OrderQty" min="1" max="@item.OrderQty" name="receivedQty" required /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-right p-5">
                                <button type="button" class="btn btn-danger" onclick="window.history.back()" data-dismiss="modal">Cancel</button>
                                <input type="hidden" id="edit-date">
                                <button type="submit" class="btn btn-success add-todo">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}


