@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "AdjustVoucherListingClerk";
    var adjustmentByRequestor = (List<AdjustmentVoucher>)ViewData["adjustmentByRequestor"];

    string username = (string)Context.Session.GetString("User");
    int DeptId = (int)Context.Session.GetInt32("DeptId");
    string UserRole = (string)Context.Session.GetString("UserRole");
}
@if (UserRole == "store_clerk")
{
    <!-- START: Main Content-->
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Adjust Stock</h4></div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="btn-group mb-2">
                    <a asp-action="InventoryList" asp-controller="ItemList" class="btn btn-primary">New Adjustment Voucher </a>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->
        <!-- START: Card Data-->
        <div class="row row-eq-height">
            <div class="col-12 col-lg-2 mt-3 todo-menu-bar flip-menu pr-lg-0">
                <a href="#" class="d-inline-block d-lg-none mt-1 flip-menu-close"><i class="icon-close"></i></a>
                <div class="card border h-100 invoice-menu-section">
                    <ul class="nav flex-column invoice-menu">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="GetAdjustmentVoucherByRequestor">
                                All Requests
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="GetAdjustmentVoucherByRequestor" asp-route-status="Pending">
                                Pending
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="GetAdjustmentVoucherByRequestor" asp-route-status="Approved">
                                Approved
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="GetAdjustmentVoucherByRequestor" asp-route-status="Rejected">
                                Rejected
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-10 mt-3 pl-lg-0">
                <div class="card border h-100 invoice-list-section">
                    <div class="card-body p-0">
                        <div class="invoices list">
                            @if (adjustmentByRequestor != null)
                            {
                                @foreach (var adj in adjustmentByRequestor)
                                {
                                    var statuscolor = "";
                                    string status = adj.Status.ToString();
                                    switch (status)
                                    {
                                        case "Approved":
                                            statuscolor = "badge-success";
                                            break;
                                        case "Pending":
                                            statuscolor = "badge-warning";
                                            break;
                                        case "Rejected":
                                            statuscolor = "badge-danger";
                                            break;
                                        default:
                                            statuscolor = "badge-primary";
                                            break;
                                    }

                                    <div class="invoice">
                                        <div class="invoice-content" data-status="generated-invoice">
                                            <div class="invoice-info">
                                                <p class="mb-0 small">Submitted Date: </p>
                                                <p class="invoice-no">@adj.IssuedDate.ToString("dd MMM yyyy")</p>
                                            </div>

                                            <div class="invoice-info">
                                                <p class="mb-0 small">Voucher No:</p>
                                                <p class="cliname">@adj.VoucherNo</p>
                                            </div>
                                            <div class="invoice-info">
                                                <p class="mb-0 small">Status: </p>
                                                <p class="invocie-date badge @statuscolor">@adj.Status</p>
                                            </div>
                                            <div class="mr-3">
                                                <a asp-action="GetAdjustmentVoucherById" asp-route-id="@adj.AdjustmentID" class="btn btn-primary">Details </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
    <!-- END: Content-->
    <!-- START: Back to top-->
    <a href="#" class="scrollup text-center">
        <i class="icon-arrow-up"></i>
    </a>
}
    <!-- END: Back to top-->
    <!-- START: Template JS-->
    <script src="dist/vendors/jquery/jquery-3.3.1.min.js"></script>
    <script src="dist/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="dist/vendors/moment/moment.js"></script>
    <script src="dist/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="dist/vendors/slimscroll/jquery.slimscroll.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- END: Template JS-->
    <!-- START: APP JS-->
    <script src="dist/js/app.js"></script>
    <!-- END: APP JS-->
    <!-- START: Page JS-->
    <script src="~/js/UI/app.invoicelist.js"></script>
    <!-- END: Page JS-->
