@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "AdjustVoucherDetailsClerk";
    var adjustment = (AdjustmentVoucher)ViewData["adjustmentById"];
    var price = (int)ViewData["price"];

    string username = (string)Context.Session.GetString("User");
    int DeptId = (int)Context.Session.GetInt32("DeptId");
    string UserRole = (string)Context.Session.GetString("UserRole");
}
@if (UserRole == "store_clerk")
{
    <style>
        td {
            width: 150px;
            text-align: left;
            padding: 5px
        }
    </style>
    <!-- START: Main Content-->
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Adjustment Voucher Details</h4></div>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->
        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12  mt-3">
                <div class="card" style="text-align: left">
                    <div class="card-body">
                        <table style="width: 50%; padding-bottom: 8px">
                            <tr>
                                <td><b>Date Issue:</b></td>
                                <td>@adjustment.IssuedDate.ToString("dd MMM yyyy")</td>
                            </tr>
                            <tr>
                                <td><b>Voucher No:</b></td>
                                <td>@adjustment.VoucherNo</td>
                            </tr>
                            <tr>
                                <td><b>Item Code:</b></td>
                                <td>@adjustment.Item.ItemCode</td>
                            </tr>
                            <tr>
                                <td><b>Category:</b></td>
                                <td>@adjustment.Item.ItemCategory.CategoryName</td>
                            </tr>
                            <tr>
                                <td><b>Description:</b></td>
                                <td>@adjustment.Item.ItemName</td>
                            </tr>
                            <tr>
                                <td><b>Unit Cost:</b></td>
                                <td>@price</td>
                            </tr>
                            <tr>
                                <td><b>UOM:</b></td>
                                <td>@adjustment.Item.UOM</td>
                            </tr>
                            <tr>
                                <td><b>Quantity:</b></td>
                                <td>@adjustment.AdjustQty</td>
                            </tr>
                            <tr>
                                <td><b>Total Value:</b></td>
                                <td>@adjustment.TotalCost</td>
                            </tr>
                            <tr>
                                <td><b>Reason:</b></td>
                                <td>@adjustment.Reason</td>
                            </tr>
                            <tr>
                                <td><b>Status:</b></td>
                                <td>@adjustment.Status</td>
                            </tr>
                            <tr>
                                <td><b>Comment:</b></td>
                                <td>@adjustment.Comment</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="btn-group mb-2" style="float: right; padding:5px 5px 5px 5px">
                    <a asp-action="GetAdjustmentVoucherByRequestor" asp-route-id="@adjustment.RequestByID" class="btn btn-primary">Back </a>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
}
    <!-- END: Content-->
    <!-- START: Back to top-->
    <a href="#" class="scrollup text-center">
        <i class="icon-arrow-up"></i>
    </a>
    <!-- END: Back to top-->
    <!-- START: Template JS-->
    <script src="dist/vendors/jquery/jquery-3.3.1.min.js"></script>
    <script src="dist/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="dist/vendors/moment/moment.js"></script>
    <script src="dist/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="dist/vendors/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- END: Template JS-->
    <!-- START: APP JS-->
    <script src="dist/js/app.js"></script>
    <!-- END: APP JS-->
