@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Request> allRequests = (List<Request>)ViewData["allRqt"];
    var message = TempData["AlertMessage"] ?? string.Empty;

    string username = (string)Context.Session.GetString("User");
    int DeptId = (int)Context.Session.GetInt32("DeptId");
    string UserRole = (string)Context.Session.GetString("UserRole");
}
@if (UserRole == "store_clerk")
{
    <!-- START: Main Content-->
    <div class="container-fluid site-width">
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Stationery Delivery - Request View</h4></div>
                </div>
            </div>
        </div>
        <div class="container-fluid site-width">
            <!-- START: Card Data-->
            <div class="row row-eq-height">
                <div class="col-12 col-lg-2 mt-3 todo-menu-bar flip-menu pr-lg-0">
                    <a href="#" class="d-inline-block d-lg-none mt-1 flip-menu-close"><i class="icon-close"></i></a>
                    <div class="card border h-100 invoice-menu-section">
                        <ul class="nav flex-column invoice-menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ConfirmDelivery">
                                    All Requests
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ConfirmDelivery" asp-route-status="PendingDelivery">
                                    Pending Delivery
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ConfirmDelivery" asp-route-status="Received">
                                    Received
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ConfirmDelivery" asp-route-status="Completed">
                                    Completed
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mt-3 pl-lg-0">
                    <div class="card border h-100 invoice-list-section">
                        <div class="card-body p-0">
                            <div class="invoices list">
                                @foreach (Request r in allRequests)
                                {


                                    var orderType = "";
                                    string status = r.RequestStatus.ToString();
                                    switch (status)
                                    {
                                        case "PendingDelivery":
                                            orderType = "badge-warning";
                                            break;
                                        case "Received":
                                            orderType = "badge-danger";
                                            break;
                                        case "Completed":
                                            orderType = "badge-success";
                                            break;
                                        default:
                                            orderType = "badge-primary";
                                            break;
                                    }

                                    <form method="post" asp-action="DisbursementDetails">
                                        <div class="invoice">
                                            <div class="invoice-content">
                                                <div class="invoice-info">
                                                    <p class="mb-0 small">RequestID</p>
                                                    <p class="cliname">@r.RequestID</p>
                                                </div>
                                                <div class="invoice-info">
                                                    <p class="mb-0 small">Request Date</p>
                                                    <p class="invoice-no">@r.RequestDate.Date.ToString("MMMM dd, yyyy")</p>
                                                </div>
                                                <div class="invoice-info">
                                                    <p class="mb-0 small">Department</p>
                                                    <p class="invocie-date">@r.RequestByUser.Department.DepartmentCode</p>
                                                </div>
                                                <div class="invoice-info">
                                                    <p class="mb-0 small">Order Type</p>
                                                    <p class="invoice-due-date">@r.RequestType</p>
                                                </div>
                                                <div class="invoice-status-info">
                                                    <p class="mb-0 small">Status</p>
                                                    <p class="invoice-due-date badge @orderType">@r.RequestStatus</p>
                                                    @*<p name="status">@r.RequestStatus</p>*@
                                                </div>
                                                <div style="display:none"><input name="reqID" value="@r.RequestID" /><input name="status" value="@r.RequestStatus" /></div>
                                                <div class="btn-group mb-2">
                                                    @if (@r.RequestStatus != Status.EOrderStatus.Received)
                                                    {
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            Details
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            Confirm
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
    <!-- END: Content-->
}


<script>
    $(document).ready(function () {
        if ('@TempData["AlertMessage"]' == "Complete") {

            swal({
                title: "Success",
                text: "Delivery Completed",
                type: "success"
            }
            )
        }
        else if ('@TempData["AlertMessage"]' == "deny") {

            swal({
                title: "Deny",
                text: "Delivery Denied",
                type: "error"
            }
            )
        };

    });
</script>