@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Dictionary<string, string> status_byDept = (Dictionary<string, string>)ViewData["status_byDept"];
    List<dynamic> dept_request = (List<dynamic>)ViewData["dept_Requests"];
    string deptName = (string)ViewData["deptName"];
    var message = TempData["AlertMessage"] ?? string.Empty;
    string username = (string)Context.Session.GetString("User");
    int DeptId = (int)Context.Session.GetInt32("DeptId");
    string UserRole = (string)Context.Session.GetString("UserRole");
}
@if (UserRole == "store_clerk")
{
    <!-- START: Main Content-->

    <div class="container-fluid site-width">
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Stationary Delivery - Department View</h4></div>
                </div>
            </div>
        </div>
        <form method="post">
            <div class="btn-group">
                @if (deptName == null)
                {
                    <button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="@deptName">@deptName</button>
                }

                <div class="dropdown-menu p-0">
                    @for (int i = 0; i < status_byDept.Count(); i++)
                    {
                        <a class="dropdown-item" asp-action="DeptConfirmDelivery" asp-route-deptName="@status_byDept.ElementAt(i).Key">@status_byDept.ElementAt(i).Key</a>
                    }

                </div>
            </div><!-- /btn-group -->
            <div class="container-fluid site-width">
                <!-- START: Card Data-->
                <div class="row row-eq-height">
                    <div class="col-12 col-lg-2 mt-3 todo-menu-bar flip-menu pr-lg-0">
                        <a href="#" class="d-inline-block d-lg-none mt-1 flip-menu-close"><i class="icon-close"></i></a>
                        <div class="card border h-100 invoice-menu-section">
                            <ul class="nav flex-column invoice-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="DeptConfirmDelivery" asp-route-deptName="@deptName">
                                        All Requests
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="DeptConfirmDelivery" asp-route-status="PendingDelivery" asp-route-deptName="@deptName">
                                        Pending Delivery
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="DeptConfirmDelivery" asp-route-status="Received" asp-route-deptName="@deptName">
                                        Received
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="DeptConfirmDelivery" asp-route-status="Completed" asp-route-deptName="@deptName">
                                        Completed
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
        </form>
        <div class="col-12 col-lg-10 mt-3 pl-lg-0">
            <div class="card border h-100 invoice-list-section">
                <div class="card-body p-0">
                    <div class="invoices liststatus_byDept">
                            @foreach (var r in dept_request)
                            {
                             var orderType = "";
                            @switch (r.Status)
                            {
                                case "PendingDelivery":
                                    orderType = "badge-warning";
                                    break;
                                case "Received":
                                    orderType = "badge-danger";
                                    break;
                                case "Completed":
                                    orderType = "badge-success";
                                    break;
                                default:
                                    orderType = "badge-primary";
                                    break;
                            }
                                <div class="invoice">
                                    <div class="invoice-content">
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Retrieval ID</p>
                                            <p class="cliname">@r.RetrievalID</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Department Name</p>
                                            <p class="cliname">@r.DepartmentCode</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Delivery Date</p>
                                            <p class="cliname">@r.Time</p>
                                        </div>
                                        <div class="invoice-info">
                                            <p class="mb-0 small">Status</p>
                                            <p class="invoice-due-date badge @orderType">@r.Status</p>
                                        </div>
                                        <div class="btn-group mb-2">
                                            <form method="post" asp-action="DisbursementDetailsByDept">
                                                <input style="display:none" name="retrievalID" value="@r.RetrievalID" />
                                                <input style="display:none" name="status" value="@r.Status" />
                                                <input style="display:none" name="deptID" value="@r.DepartmentID" />
                                                @if (@r.Status != "Received")
                                                {
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        Details
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        Confirm
                                                    </button>
                                                }
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- END: Card DATA-->

    <!-- END: Content-->
}

<script>
    $(document).ready(function () {
        if ('@TempData["AlertMessage"]' == "Complete") {

            swal({
                title: "Success",
                text: "Delivery Completed",
                type: "success"
            }
            )
        }
        else if ('@TempData["AlertMessage"]' == "Deny") {

            swal({
                title: "Deny",
                text: "Delivery Denied",
                type: "error"
            }
            )
        };
    });
</script>
