
@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Department Head Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Team5_LUSS.Models.ViewModels.TopSixRequested> highestRequestCat = (List<Team5_LUSS.Models.ViewModels.TopSixRequested>)ViewData["highestRequestCat"];
    Dictionary<string, int> requestBreakdown = (Dictionary<string, int>)ViewData["requestBreakdown"];
    List<Team5_LUSS.Models.ViewModels.DHeadMonth> deptMonthlyCost = (List<Team5_LUSS.Models.ViewModels.DHeadMonth>)ViewData["deptMonthlyCost"];

    string username = (string)Context.Session.GetString("User");
    int DeptId = (int)Context.Session.GetInt32("DeptId");
    string UserRole = (string)Context.Session.GetString("UserRole");
}
@if (UserRole == "dept_head")
{
    <!-- START: Breadcrumbs-->
    <div class="container-fluid site-width">
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Your Dashboard</h4></div>


                </div>
            </div>
        </div>

        <div class="row">

            <!-- Request Breakdown Chart-->
            <div class="col-12 col-md-6 mt-3">
                <div class="card">

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">Request Breakdown<br>(This Year)</h6>
                        @if (requestBreakdown.ContainsKey("Pending"))
                        {<a asp-controller="StationeryRequests" asp-action="StationeryRequests">
                                <div class="btn-group mb-2">
                                    <button type="button" class="btn btn-outline-info">Pending: @requestBreakdown["Pending"]</button>
                                </div>
                            </a>}
                    </div>
                    <div class="card-body">
                        <div id="requestBreakdown" class="height-200"></div>
                    </div>
                </div>
            </div>


            <!-- Category Pie Chart-->
            <div class="col-12 col-md-6 mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">Top 5 Dollar Cost by Category<br>(This Year)</h6>
                    </div>
                    <div class="card-body">
                        <div id="catCostChart" class="height-200"></div>
                    </div>
                </div>
            </div>



            <!-- Department Cost Chart-->
            <div class="col-12 mt-3">

                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">Your Department's Dollar Requisition Dollar Cost Year-on-Year</h6>
                    </div>
                    <div class="card-body">
                        <div id="deptCostChart" class="height-300"></div>
                    </div>
                </div>
            </div>


        </div>


    </div>



<!-- END: Card DATA-->
<script src="~/vendors/echarts/echarts.min.js"></script>
<script>
    (function ($) {
        "use strict";

        var primarycolor = getComputedStyle(document.body).getPropertyValue('--primarycolor');
        var bordercolor = getComputedStyle(document.body).getPropertyValue('--bordercolor');
        var bodycolor = getComputedStyle(document.body).getPropertyValue('--bodycolor');




        var deptCostChart = echarts.init(document.getElementById('deptCostChart'));
        // specify chart configuration item and data

        var deptCostChartoption = {
            color: ['navy', 'teal'],
            legend: {
                textStyle: {
                    color: bodycolor
                }
            },
            tooltip: {},
            dataset: {
                source: [
                    ['product', 'Past 12 Months', 'Current Month and Prediction for Next 11 Months'],
                    @foreach (var month in deptMonthlyCost)
                    {
                            <text>['@month.Month', @month.YearOne, @month.YearTwo],</text>
                        }
                ]
            },
            textStyle: {
                color: bodycolor
            },
            xAxis: {
                type: 'category',
                axisLine: {
                    lineStyle: {
                        color: bordercolor
                    }
                }
            },
            yAxis: {
                axisLine: {
                    lineStyle: {
                        color: bordercolor
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: bordercolor
                    }
                }
            },
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {
                    type: 'bar',
                    barGap: 0,
                    label: {
                        color: bodycolor
                    }
                },
                {
                    type: 'bar',
                    label: {
                        color: bodycolor
                    }
                },

            ]
        };
        // use configuration item and data specified to show chart
        deptCostChart.setOption(deptCostChartoption);

        var requestBreakdown = echarts.init(document.getElementById('requestBreakdown'));
        // specify chart configuration item and data
        var requestBreakdownoption = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                textStyle: {
                    color: bodycolor
                }
            },
            series: [
                {
                    name: 'Category',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                    @foreach (var rb in requestBreakdown)
                        {
                            <text>{ value: @rb.Value, name: '@rb.Key' }, </text>
                        }
                    ]
                }
            ]
        };
        // use configuration item and data specified to show chart
        requestBreakdown.setOption(requestBreakdownoption);


        var catCostChart = echarts.init(document.getElementById('catCostChart'));
        // specify chart configuration item and data
        var catCostChartoption = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                textStyle: {
                    color: bodycolor
                }
            },
            series: [
                {
                    name: 'Category',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '15',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data: [
                        @foreach (var hrc in highestRequestCat)
                        {
                            <text>{ value: '@hrc.TotalPrice', name: '@hrc.ItemName' }, </text>
                        }

                    ]
                }
            ]
        };
        // use configuration item and data specified to show chart
        catCostChart.setOption(catCostChartoption);




        $(window).on('resize', function () {



            if (deptCostChart != null && deptCostChart != undefined) {
                deptCostChart.resize();
            }
            if (requestBreakdown != null && requestBreakdown != undefined) {
                requestBreakdown.resize();
            }
            if (catCostChart != null && catCostChart != undefined) {
                catCostChart.resize();
            }

        });

    })(jQuery);</script>
<script src="~/vendors/echarts/echarts.min.js"></script>
<!-- END: Card DATA-->     
}