@using Microsoft.AspNetCore.Http;
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    string user = (string)Context.Session.GetString("UserRole");

   
    var adjustmentVoucherListUp = (List<AdjustmentVoucher>)ViewData["allAdjustmentsUp"];
    var adjustmentVoucherListDown = (List<AdjustmentVoucher>)ViewData["allAdjustmentsDown"];
  }







        <div class="container-fluid site-width">
            <h1>Adjustment Vouchers</h1>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display table dataTable table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Adjustment ID</th>
                                <th>Status</th>
                                <th>Total Cost</th>
                                <th>Adjust Quantity</th>
                                <th>Adjust Type</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                        @foreach (var r in adjustmentVoucherListUp)
                        {
                            if (r.TotalCost >= 250 && user == "store_manager")
                            {

                                <tbody>
                                    <tr>
                                        <th scope="row">@r.AdjustmentID</th>
                                        <td>@r.Status</td>
                                        <td>@r.TotalCost</td>
                                        <td>@r.AdjustQty</td>
                                        <td>@r.AdjustType</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" @* DETAIL VIEW*@
                                                    onclick="location.href='@Url.Action("VoucherDetails", "AdjustmentList", new { AdjustmentID = @r.AdjustmentID })'">
                                                Details
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }


                        @foreach (var r in adjustmentVoucherListDown)
                        {
                            if (r.TotalCost < 250 && user == "store_supervisor")
                            {

                                <tbody>
                                    <tr>
                                        <th scope="row">@r.AdjustmentID</th>
                                        <td>@r.Status</td>
                                        <td>@r.TotalCost</td>
                                        <td>@r.AdjustQty</td>
                                        <td>@r.AdjustType</td>
                                        <td>
                                            <button type="button" class="btn btn-primary" @* DETAIL VIEW*@
                                                    onclick="location.href='@Url.Action("VoucherDetails", "AdjustmentList", new { AdjustmentID = @r.AdjustmentID })'">
                                                Details
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>
                </div>
            </div>
            @*<div class="modal-footer">
                    <input type="hidden" id="edit-date">
                    <button type="submit" class="btn btn-primary add-todo">Approve</button>
                    <button type="submit" class="btn btn-primary add-todo">Reject</button>
                </div>*@

        </div>




        @* data table content end*@
        @*<script src="~/js/UI/datatable.script.js"></script>*@
        <script src="~/js/System/StationeryRequests/jquery.min.js"></script>
        <script src="~/vendors/datatable/js/jquery.dataTables.min.js"></script>
        <!-- START: Page Script JS-->
        @* data table ^^*@
        <script>
            $(document).ready(function ()
            {

                $('#example').DataTable
                ({
                 responsive: true
                });
            })
        @* data table ^^*@


        </script>
