@using Microsoft.AspNetCore.Http;

@{
    string username = (string)Context.Session.GetString("User");// copy for your page security
    int DeptId = (int)Context.Session.GetInt32("DeptId");// copy for your page security
    string UserRole = (string)Context.Session.GetString("UserRole");// copy for your page security
}
@model AdjustmentVoucher



@if (DeptId == 10 && UserRole == "store_supervisor" || UserRole == "store_manager") // copy for your page security
{
    <h1>Voucher Approve Details</h1>

<style>
    td {
        width: 150px;
        text-align: left;
        padding: 5px
    }
</style>
<!-- START: Main Content-->

<div class="container-fluid site-width">
    <!-- START: Breadcrumbs-->
    <div class="row ">
        <div class="col-12  align-self-center">
            <div class="btn-group mb-2 float-left">
                <a asp-action="AdjustmentVouchers" class="btn btn-primary">Back </a>
            </div>
        </div>
    </div>
    <!-- END: Breadcrumbs-->
    <!-- START: Card Data-->


    <form id="approvalForm" asp-action="Approved" method="post">
        <div class="row">
            <div class="col-12  mt-3">
                <div class="card" style="text-align: left">
                    <div class="card-body">
                        <table style="width: 50%; padding-bottom: 8px">
                            <tr>
                                <td><b>Date Issue:</b></td>
                                <td>@Model.IssuedDate.ToString("dd MMM yyyy")</td>
                            </tr>
                            <tr>
                                <td><b>Voucher No:</b></td>
                                <td>@Model.VoucherNo</td>
                            </tr>
                            <tr>
                                <td><b>Item Code:</b></td>
                                <td>@Model.Item.ItemCode</td>
                            </tr>
                            <tr>
                                <td><b>Category:</b></td>
                                <td>@Model.Item.ItemCategory.CategoryName</td>
                            </tr>
                            <tr>
                                <td><b>Description:</b></td>
                                <td>@Model.Item.ItemName</td>
                            </tr>

                            <tr>
                                <td><b>UOM:</b></td>
                                <td>@Model.Item.UOM</td>
                            </tr>
                            <tr>
                                <td><b>Quantity:</b></td>
                                <td>@Model.AdjustQty</td>
                            </tr>
                            <tr>
                                <td><b>Total Value:</b></td>
                                <td>@Model.TotalCost</td>
                            </tr>
                            <tr>
                                <td><b>Reason:</b></td>
                                <td>@Model.Reason</td>
                            </tr>
                            <tr>
                                <td><b>Status:</b></td>
                                <td>@Model.Status</td>
                            </tr>
                            <tr>
                                <td><b>Comment:</b></td>
                                <td><input type="text" asp-for="Comment" name="Comment" id="Comment" placeholder="" style="width:250px; height:80px"></td>
                            </tr>
                            <input type="hidden" asp-for="AdjustmentID" name="AdjustmentID" value="@Model.AdjustmentID" />

                        </table>
                    </div>
                </div>

                <div class="text-center panel-body">
                     <button type="button" class="btn btn-sm btn-danger" onclick="doSubmit(2)">Reject</button>
                    <button type="button" class="btn btn-sm btn-success" onclick="doSubmit(1)"> Approve</button>
                </div>
    </form>
</div>
}
<!-- END: Card DATA-->
</div>
<!-- END: Content-->
<!-- START: Back to top-->
<a href="#" class="scrollup text-center">
    <i class="icon-arrow-up"></i>
</a>
<script>
    function doSubmit(type) {


        if (type == 1) {
            $("#approvalForm").attr('action', '/AdjustmentList/Approved');
        }
        else {
            $("#approvalForm").attr('action', '/AdjustmentList/Rejected');
        }
        $("#approvalForm").submit();
    }
</script>
