@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var CollectionPoints = (List<CollectionPoint>)ViewData["collectionPoints"];
}
@model Department 

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">

        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12  mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title">Current Collection Point</h4>
                    </div>
                    <div class="card-body">
                        @Model.CollectionPointID
                           @*@Model.CollectionPoint.Description - @Model.CollectionPoint.Location*@
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
    <div class="col-12  mt-3">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">All Collection Points</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <input name="deptID" value=@Model.DepartmentID class="display: hidden" />
                    <div class="skin skin-flat">
                        <ul class="list list-unstyled  mr-3">
                        @{
                            for (int i = 0; i < CollectionPoints.Count - 1; i++)
                            {
                                <li>
                                    <input tabindex="7" type="radio" id="minimal-radio-11" value="@CollectionPoints[i].CollectionPointID" name="cpID">
                                    <label>@CollectionPoints[i].Location - @CollectionPoints[i].Description </label>
                                </li>
                            }
                        }
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- END: Content-->