@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var requests = (List<Request>)ViewData["Requests"];
    var status = ""; var display = "";
}

@model List<Request>
<!-- START: Breadcrumbs-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link href="~/js/System/StationeryRequests/RequestStyle.css" rel="stylesheet" />
<div class="row ">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h5 class="mb-0">Requisition History</h5></div>
        </div>
    </div>
</div>
<!-- END: Breadcrumbs-->
<!-- Edit request -->
@if (requests != null)
{
    @foreach (Request c in requests)
    {
        <div class="modal fade" id="editrequest_@c.RequestID">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i class="icon-pencil"></i> Edit request
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="icon-close"></i>
                        </button>
                    </div>

                    <form class="edit-request-form" asp-action="ApproveRequestByDepHead" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <input type="hidden" name="hidRequestID" value="@c.RequestID" />
                                    <div class="row">
                                        <label for="requestID" class="col-sm-4 col-form-label">Request ID :</label>
                                        <label for="requestID" class="col-sm-4 col-form-label"><span id="lblRequestID_@c.RequestID">@c.RequestID</span></label>

                                    </div>
                                    <div class="row">
                                        <label for="requestBy" class="col-sm-4 col-form-label">Request By :</label>
                                        <label for="requestBy" class="col-sm-4 col-form-label"><span id="lblRequestBy_@c.RequestID">@c.RequestID</span></label>
                                    </div>
                                    <div class="row">
                                        <label for="status" class="col-sm-4 col-form-label">Status :</label>
                                        <label for="status" class="col-sm-4 col-form-label"><span id="lblStatus_@c.RequestID">@c.RequestStatus</span></label>

                                    </div>
                                    <div class="row">
                                        <label for="updataBy" class="col-sm-4 col-form-label">Update By :</label>
                                        <label for="updataBy" class="col-sm-4 col-form-label"><span id="lblUpdateBy_@c.RequestID">@c.ModifiedByUser.FirstName  @c.ModifiedByUser.LastName</span></label>

                                    </div>
                                    <div class="row">
                                        <label for="username" class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <div class="table-responsive">
                                                <table class="table layout-secondary">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">ItemName</th>
                                                            <th scope="col">UOM</th>
                                                            <th scope="col">Request Qty</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="requestItem">
                                                        @foreach (RequestDetails d in c.RequestDetails)
                                                        {
                                                            <tr>
                                                                <th scope="row">@d.Item.ItemName</th>
                                                                <td>@d.Item.UOM</td>
                                                                <td>@d.RequestQty</td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="username" class="col-sm-2 col-form-label">Comment</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="comment" id="txtComment_@c.RequestID" placeholder="Comment....">@c.Comment</textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @if (c.RequestStatus == 0)
                            {<div class="col-sm-10">

                                    <button type="button" class="btn btn-primary" onclick="UpdateRequest(@c.RequestID,1)" @*onclick="location.href='@Url.Action("ApproveRequestByDepHead", "StationeryRequests", new { id = @c.RequestID,status=1})'"*@> Approve</button>
                                    <button type="button" class="btn btn-outline-warning" onclick="UpdateRequest(@c.RequestID,2)">Reject</button>
                                </div>
                            }

                        </div>
                    </form>
                </div>
            </div>
        </div>
    }


}
<!-- START: Card Data-->
<div class="row row-eq-height">
    <div class="col-12 col-lg-3 mt-3 todo-menu-bar flip-menu pr-lg-0">

        <div class="card border h-100 request-menu-section">

            <ul class="nav flex-column request-menu">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-requesttype="request">
                        <i class="fas fa-list-alt"></i> All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-requesttype="pending-request">
                        <i class="fas fa-money-check-alt"></i> Pending
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-requesttype="approved-request">
                        <i class="far fa-money-bill-alt"></i> Approved
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-requesttype="rejected-request">
                        <i class="far fa-window-close"></i> Rejected
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-requesttype="packed-request">
                        <i class="far fa-window-close"></i> Packed
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-requesttype="pendingDelivery-request">
                        <i class="far fa-window-close"></i> PendingDeli
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-requesttype="received-request">
                        <i class="far fa-window-close"></i> Received
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-requesttype="completed-request">
                        <i class="far fa-window-close"></i> Completed
                    </a>
                </li>

            </ul>

        </div>
    </div>
    <div class="col-12 col-lg-9 mt-3 pl-lg-0">
        <div class="card border h-100 request-list-section">
            <div class="card-header border-bottom p-1 d-flex">
                <a href="#" class="d-inline-block d-lg-none flip-menu-toggle"><i class="icon-menu"></i></a>
                <input type="text" class="form-control border-0 p-2 w-100 h-100 request-search" placeholder="Search ...">
            </div>
            <div class="card-body p-0">
                <div class="requests list">
                    @if (requests != null)
                    {
                        @foreach (Request c in requests)
                        {
                            @switch (c.RequestStatus)
                            {
                                case Status.EOrderStatus.Pending: status = "pending-request"; display = "block"; break;
                                case Status.EOrderStatus.Approved: status = "approved-request"; display = "none"; break;
                                case Status.EOrderStatus.Rejected: status = "rejected-request"; display = "none"; break;
                                case Status.EOrderStatus.Packed: status = "packed-request"; display = "none"; break;
                                case Status.EOrderStatus.PendingDelivery: status = "pendingDelivery-request"; display = "none"; break;
                                case Status.EOrderStatus.Received: status = "received-request"; display = "none"; break;
                                case Status.EOrderStatus.Completed: status = "completed-request"; display = "none"; break;
                            }
                            <div class="request @status" style="display:@display">
                                <div class="request-content  @status" data-status=@status>
                                    <div class="request-info">
                                        <p class="mb-0 small">ID: </p>
                                        <p class="request-no">@c.RequestID</p>
                                    </div>
                                    <div class="request-info">
                                        <p class="mb-0 small">Request By: </p>
                                        <p class="cliname">@c.RequestByUser.FirstName   @c.RequestByUser.LastName  </p>
                                    </div>

                                    <div class="request-status-info">
                                        <p class="mb-0 small">Status </p>
                                        <p class="request-status"></p>
                                    </div>
                                    <div class="request-info">
                                        <p class="mb-0 small">Request Date: </p>
                                        <p class="request-due-date">@Html.DisplayFor(modelItem => c.RequestDate)</p>
                                    </div>

                                    <div class="line-h-1 h3">
                                        <a class="text-success" href="#" data-toggle="modal" data-target="#editrequest_@c.RequestID"><i class="icon-note"></i></a>

                                    </div>
                                </div>
                            </div>

                        }


                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Card DATA-->
<!-- START: Page JS-->

<script src="~/js/System/StationeryRequests/jquery.min.js"></script>
@*<script src="~/js/System/StationeryRequests/stationeryRequests.js"></script>*@
@section Scripts{
    <script>
     
        function UpdateRequest(id, status) {
            var comment = $("#txtComment_" + id).val();
          console.log()
          $.ajax({
              type: "GET",
              url: '@Url.Action("ApproveRequestByDepHead", "StationeryRequests")',
              data: { id, status, comment},
              success: function (result) {
                  if (status == '1') {
                      toastr["success"]('Approved!');
                      //$('#editrequest').close();
                      location.reload();
                  }
                  else {
                      toastr["success"]('Rejected!');
                      $('#editrequest').modal('toggle');
                      location.reload();
                  }

              }
          })
        };

           $('.request-menu a').on('click', function () {
               $('.request-menu a').removeClass('active');
               $(this).addClass('active');
               $('.request').hide();
               $('.' + $(this).data("requesttype")).show(500);
               return false;
           });
        $(".request-search").on("keyup", function () {
            var v = $(".request-search").val().toLowerCase();
            var rows = $('.' + $('.request-menu li a.active').data("requesttype"));

            for (var i = 0; i < rows.length; i++) {
                var fullname = rows[i].getElementsByClassName("request-content");
                fullname = fullname[0].innerHTML.toLowerCase();
                if (fullname) {
                    if (v.length == 0 || (v.length < 1 && fullname.indexOf(v) == 0) || (v.length >= 1 && fullname.indexOf(v) > -1)) {
                        rows[i].style.animation = 'fadein 7s';
                        rows[i].style.display = "block";
                    } else {
                        rows[i].style.display = "none";
                        rows[i].style.animation = 'fadeout 7s';
                    }
                }
            }
        });

    </script>
}
<!-- END: Page JS-->
