<!--Nang Sandar: View Request Detail Page-->

@using Team5_LUSS.Models;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "ViewRequestDetail";
    Request request = (Request)ViewData["request"];

    string fullName = @request.RequestByUser.FirstName + @request.RequestByUser.LastName;
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<h3>Request Detail</h3>
@{
    bool isPending = true;
    @if (request.RequestStatus != Status.EOrderStatus.Pending)
    {
        isPending = false;
    }
}
<div class="row">
    <div class="col-12 mt-3" style="display:flex;">
        <div class="col-lg-6  col-xl-6 col-md-6">
            <p>Request ID: @request.RequestID</p>
            <p>Request By: @fullName</p>
        </div>
        <div class="col-lg-6  col-xl-6 col-md-6">
            <p>Request Status: @request.RequestStatus</p>
            <p>Submitted Date: @request.RequestDate</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <form method="post" enctype="multipart/form-data" asp-controller="StationeryRequests" asp-action="UpdateRequestDetail" style="width:100%">
                        <div class="col-lg-6  col-xl-6 col-md-8 mb-4 mb-xl-0">
                            <table id="requestTable" class="table table-bordered mb-0 table-responsive d-block border-bottom-0 border-top-0 border-left-0 border-right-0">
                                <thead>
                                    <tr class="bg-transparent">
                                        <th class="border-bottom-0">Image</th>
                                        <th class="border-bottom-0">Item</th>
                                        <th class="border-bottom-0">Quantity</th>
                                        <th class="border-bottom-0">Units</th>
                                        @if (isPending)
                                        {
                                            <th class="border-bottom-0">Remove</th>
                                        }

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (request != null)
                                    {
                                        <input type="hidden" name="reqID" value="@request.RequestID" />
                                        foreach (var reqDetail in request.RequestDetails)
                                        {
                                            string img = "/images/itemImgs/" + reqDetail.Item.ItemCode + ".jpg";
                                            <tr>

                                                <td><img src=@img alt="" class="img-fluid" width="60"></td>
                                                <td class="align-middle"><input type="hidden" name="itemId" value='@reqDetail.Item.ItemID' />@reqDetail.Item.ItemName</td>
                                                @if (isPending)
                                                {
                                                    <td class="w-25 align-middle"><input type="number" name="quantity" min="1" max="@reqDetail.Item.InStockQty" class="form-control" value="@reqDetail.RequestQty"></td>
                                                }
                                                else
                                                {
                                                    <td class="w-25 align-middle"><input type="number" min="1" max="@reqDetail.Item.InStockQty" class="form-control" value="@reqDetail.RequestQty" disabled></td>
                                                }

                                                <td class="align-middle">@reqDetail.Item.UOM</td>
                                                @if (isPending)
                                                {
                                                    <td class="align-middle">
                                                        <button type="button" class="btn-remove" onclick="removeItem(@reqDetail.RequestID,@reqDetail.RequestDetailID)"
                                                                style="color:red;border:none;background:none;">
                                                            <i class="icon-trash"></i>
                                                        </button>
                                                    </td>
                                                }

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                            <div class="clearfix mt-4">
                                <div class="float-right">
                                    @if (isPending)
                                    {
                                        <button type="button" class="btn btn-danger mr-1" onclick="cancelRequest(@request.RequestID)">Cancel Request</button>
 
                                        <input type="submit" class="btn btn-primary float-right" value="Update Request">
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary float-left" asp-controller="StationeryRequests" asp-action="RequestHistory">Back to list</a>

                                    }

                                </div>
                            </div>

                        </div>

                    </form>

                </div>

            </div>
        </div>


    </div>


</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            //get selected category value from session to show seleced category when page reload after search
            if ('@TempData["AlertMessage"]' == "Success") {

                swal({
                    title: "Success",
                    text: "Your request has been updated.",
                    type: "success"
                }

                )
            } else if ('@TempData["AlertMessage"]' == "Cancelled") {
                swal({
                    title: "Success",
                    text: "Your request has been cancelled.",
                    type: "success"
                }, function () {
                    window.location.href = '@Url.Action("RequestHistory","StationeryRequests")';    //when user click "OK", will redirect back to Index page
                }
                )
            } else if ('@TempData["AlertMessage"]' == "Removed") {
                swal({
                    title: "Success",
                    text: "Item has been removed from Request.",
                    type: "success"
                })
            }

        })
 

        var removeItem = function (reqId, reDetailId) {
            swal({
                title: 'Are you sure?',
                text: "Are you sure you want to delete this from your Request?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, Remove",
                closeOnConfirm: false
            }, function () {
               $(this).closest('tr').remove();
                $.ajax({
                        type: "GET",
                        url: '@Url.Action("RemoveRequestedItem", "StationeryRequests")',
                        data: { reqId, reDetailId },
                            success: function (result) {
                                location.reload();
                            }
                    })
            })
        }

        var cancelRequest = function (reqId) {
            swal({
                title: 'Are you sure?',
                text: "Are you sure you want to cancel this Request?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, Cancel",
                closeOnConfirm: false
            }, function () {
               $(this).closest('tr').remove();
                $.ajax({
                        type: "GET",
                        url: '@Url.Action("CancelRequest", "StationeryRequests")',
                        data: { reqId },
                            success: function (result) {
                                location.reload();
                            }
                    })
            })
        }
    </script>
}